*{
			margin: 0;
			padding: 0;
		}
		.header{
			width: 1000px;
			height: 160px;
			background-color: #fff;
			margin: 0 auto;
		}
		.banner{
			width: 1000px;
			height: 470px;
			background-image: url(../images/banner.jpg);
			margin: 0 auto;
			overflow: hidden;

		}
		.banner-1{
			width: 1000px;
			height: 120px;
			margin-top: 155px;
		}
		.banner-1 .pre{
			float: left;
			margin-top: 44px;
			cursor: pointer;
		}
		.banner-1 .next{
			float: right;
			margin-top: 44px;
			cursor: pointer;
		}
		.banner-1 h2{
			font-size: 40px;
			color: #0a3b7e;
			margin-left: 335px;
		}
		.banner-1 span{
			font-size: 24px;
			color: #ffffff;
			float: left;
			margin-left: 359px;
			margin-top: 38px;
			width: 200px;
			height: 48px;
			background-color: #0a3b7e;
			text-align: center;
			line-height: 48px;
			border-radius: 10px;
		}
		.container{
			width: 1000px;
			height: 540px;
			background-color: green;
			margin: 0 auto;
		}
		.footer{
			width: 1000px;
			height: 330px;
			background-color: red;
			margin: 0 auto;
		}
		.top{
			width: 1000px;
			height: 100px;
		
		}
		.nav{
			width: 1000px;
			height: 60px;
			background-color: #2c2c2c;
		}
		.nav ul li{
			width: 123px;
			height: 59px;
			border: 1px solid #4b4b4b;
			list-style: none;
			text-align: center;
			line-height: 60px;
			float: left;
		}
		.nav ul li a {
			text-decoration: none;
			font-size: 12px;
			color: #d9d9d9;
		}
		
		.container-top{
			width: 1000px;
			height: 265px;
			background-color: yellow;
		}
		.container-bottom{
			width: 1000px;
			height: 275px;
			background-color: #ffffff;
		}
		.container-bottom h3{
			margin-left: 21px;
			font-size: 17px;
			color: #000000;
		}
		.container-bottom-1{
			float: left;
			width: 224px;
			height: 191px;
			margin-left: 19px;
			margin-top: 18px;
		}
		.container-bottom-1 p a{
			font-size: 12px;
			color: #535353;
			text-decoration: none;
		}
		.container-bottom-2{
			float: left;
			width: 224px;
			height: 191px;
			margin-left: 26px;
			margin-top: 18px;
		}
		.container-bottom-2 p a{
			font-size: 12px;
			color: #535353;
			text-decoration: none;
		}
		.container-bottom-3{
			float: left;
			width: 224px;
			height: 191px;
			margin-left: 20px;
			margin-top: 18px;
		}
		.container-bottom-3 p a{
			font-size: 12px;
			color: #535353;
			text-decoration: none;
		}
		.container-bottom-4{
			float: left;
			width: 224px;
			height: 191px;
			margin-left: 25px;
			margin-top: 18px;
		}
		.container-bottom-4 p a{
			font-size: 12px;
			color: #535353;
			text-decoration: none;
		}
		.footer-top{
			width: 1000px;
			height: 250px;
			background-color: #e5e5e5;
		}
		.footer-bottom{
			width: 1000px;
			height: 80px;
			background-color: #ffffff;
			overflow: hidden;
		}
		.footer-bottom-1{
			margin-left: 23px;
			margin-top: 25px;
			width: 301px;
			height: 12px;
			float: left;
		}
		.footer-bottom-1 span{
			color: #8d8d8d;
			font-size: 11.63px;
		}
		.footer-bottom-1 |{
			color: #b8b8b8;
		}
		.footer-bottom-2{
			float: left;
			margin-left: 64px;
			margin-top: 25px;
		}
		.footer-bottom-2 span{
			font-size: 11.63px;
			color: #8b8b8b;
		}
		.footer-bottom-3{
			float: left;
			margin-left: 95px;
			margin-top: 25px;
		}
		.footer-bottom-3 span{
			font-size: 11.63px;
			color: #8b8b8b;
		}
		.footer-bottom-3 img{
			float: right;
			margin-top: 4px;
		}
		.logo{
			width: 220px;
			height: 20px;
			background-color: purple;
			float: left;
			margin-left: 20px;
			margin-top: 40px;
		}
		.search{
			width: 225px;
			height: 25px;
			float: right;
			margin-right: 20px;
			margin-top: 40px;
			border: 1px solid #e5e5e5;
			background-color: #f1f1f1;
		}
		.search span{
			color: #989898;
			font-size: 12px;
			margin-left: 15px;
		}
		.search img{
			float: right;
			margin-right: 8px;
			margin-top: 8px;
		}
		.container-top-1{
			width: 500px;
			height: 265px;
			background-color: #ffffff;
			float: left;
		}
		.container-top-1 h3{
			margin-left: 22px;
			margin-top: 36px;
			font-size: 17px;
		}
		.container-top-1-list{
			width: 450px;
			height: 108px;
			margin-left: 35px;
			margin-top: 30px;
		}
		.container-top-1-list li{
			width: 450px;
		}
		.container-top-1-list li span{
			float: right;
			color: #515151;
			font-size:12px;
		}
		.container-top-1-list li a{
			color: #515151 ;
			font-size: 12px;
			text-decoration: none;
		}
		.container-top-2{
			width: 240px;
			height: 265px;
			background-color: #f1f1f1;
			float: left;
		}
		.container-top-2 h3{
			margin-left: 62px;
			margin-top: 36px;
			color: #000000;
			font-size: 17px;
		}
		.container-top-2 h4{
			margin-left: 25px;
			margin-top: 42px;
			font-size: 14px;
			color: #5a5a5a;
	
		}
		.container-top-2 p{
			margin-left: 25px;
			margin-top: 23px;
			color: #969696;
			font-size: 12px;
		}
		.container-top-2 span{
			margin-left: 25px;
			margin-top: 22px;
			font-size: 12px;
			color: #969696;
		}
		.container-top-3{
			width: 260px;
			height: 265px;
			background-color: #ffffff;
			float: left;
		}
		.container-top-3 h3{
			margin-left: 25px;
			margin-top: 36px;
			font-size: 17px;
			color: #000000;
		}
		.container-top-3 p{
			margin-left: 25px;
			margin-top: 29px;
			font-size: 12px;
			color: #969696;
		}
		.container-top-3 span{
			margin-left: 25px;
			margin-top: 28px;
			font-size: 12px;
			color: #969696;
		}
		.container-top-3 img{
			margin-left: 25px;
			margin-top: 13px;
		}
		.footer-top-1{
			width: 450px;
			height: 220px;
			background-color: #e5e5e5;
			float: left;
			margin-left: 25px;
			margin-top: 30px;
		}
		.footer-top-1 h3{
			width: 451px;
			height: 15px;
			float: left;
			margin-left: 13px;
			margin-top: 31px;
			font-size: 15px;
			color: #5a5a5a;
		} 
		.footer-top-1-1{
			width: 122px;
			float: left;
			margin-left: 21px;
			margin-top: 31px;
			list-style: none;
		}
		.footer-top-1-1 li a{
			color: #7b7b7b;
			font-size: 12px;
			text-decoration: none;
			list-style-image: url(../images/footer-top.gif);
			margin-top: 12px;
		}
		.footer-top-1-2{
			width: 98px;
			float: left;
			margin-left: 21px;
			margin-top: 31px;
			list-style: none;
		}
		.footer-top-1-2 li a{
			color: #7b7b7b;
			font-size: 12px;
			text-decoration: none;
			margin-top: 12px;
		}
		.footer-top-1-3{
			width: 103px;
			float: left;
			margin-left: 62px;
			margin-top: 31px;
			list-style: none;
		}
		.footer-top-1-3 li a{
			color: #7b7b7b;
			font-size: 12px;
			text-decoration: none;
			margin-top: 12px;
		}
		.footer-top-2{
			width: 150px;
			height: 220px;
			background-color: #e5e5e5;
			float: left;
			margin-left: 50px;
			margin-top: 30px;
		}
		.footer-top-2 h3{
			margin-left: 11px;
			margin-top: 31px;
			font-size: 15px;
			color: #5a5a5a;
		}
		.footer-top-2 ul {
			margin-left: 11px;
			margin-top: 23px;
			list-style: none;
		}
		.footer-top-2 ul li{
			font-size: 12px;
			color: #737373;
			margin-top: 12px;
		}
		.footer-top-3{
			width: 260px;
			height: 220px;
			background-color: #e5e5e5;
			float: left;
			margin-left: 50px;
			margin-top: 30px;
		}
		.footer-top-3 h3{
			margin-left: 16px;
			margin-top: 31px;
			font-size: 15px;
			color: #5a5a5a;
		}
			
		.footer-top-3 h3 img{
			margin-left: 32px;
			margin-top: 18px;
		}